# package directories
node_modules

# Serverless directories
.serverless

# ignore docker db volume
db/data

# serverless build file
.build

# intellij config
.idea

# package-lock file
package-lock.json

# test report coverage
coverage
